<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx" class="no-js" style="display: block;">
<head>
	<title>WaitLess Solutions</title>
	<!--/*/ <th:block th:include="fragments/head-commons :: head"></th:block> /*/-->
</head>
<body style="display: block;">


	<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
	<section class="generic-banner relative">
		<div class="container">
			<div class="row height align-items-center justify-content-center">
				<div class="col-lg-10">
					<div class="generic-banner-content">
						<h2 class="text-white">The Generic Page</h2>
						<p class="text-white">It won’t be a bigger problem to find one video game lover in your <br> neighbor. Since the introduction of Virtual Game.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<form action="/register" method="post" name="customer">
		<div class="form-group">
			<label for="fullName" class="col-sm-2">Full Name:</label>
			<input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2">Email:</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2">Password:</label>
			<input type="password" data-minlength="6" class="form-control" id="password" name="password" placeholder="Password" required>
			<div class="help-block">Minimum of 6 characters</div>
		</div>
		<div class="form-group">
			<label for="passwordConfirm" class="col-sm-2">Password:</label>
			<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" data-match="#password" data-match-error="Whoops, these don't match" placeholder="Confirm Password" required>
			<div class="help-block with-errors"></div>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<!--/*/ <th:block th:include="fragments/footer :: body"></th:block> /*/-->
	<!--/*/ <th:block th:include="fragments/footer-commons :: body"></th:block> /*/-->
	<!-- End footer Area -->

</body>
</html>